.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.logo {
width: 150px;
}
nav ul li {
margin-left: 20px;
}
nav ul li a {
color: #fff;
text-decoration: none;
font-weight: bold;
}

.search-bar {
display: flex;
justify-content: space-between;
align-items: center;
width: 90%;
margin: 10px auto;
}

.search-input {
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
flex-grow: 1;
max-width: 600px;
margin-right: 10px;
background-color: #fff;
color: #333;
}

.search-button {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #D10024;
color: #fff;
font-weight: bold;
cursor: pointer;
transition: background-color 0.3s ease;
}

.search-button:hover {
background-color: #b8001e;
}

main {
width: 90%;
max-width: 1200px;
margin: 20px auto;
padding: 20px;

}

.form-container {
background-color: #fff;
border-radius: 10px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
padding: 30px 40px;
text-align: center;
max-width: 500px;
margin: 0 auto;
}

h2 {
color: #D10024;
margin-bottom: 20px;
font-size: 24px;
}

.form-group {
margin-bottom: 15px;
text-align: left;
}

label {
display: block;
margin-bottom: 5px;
font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
width: 90%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px;
margin-bottom: 5px;
}

small {
display: block;
font-size: 12px;
color: #777;
margin-top: 5px;
}

.register-button {
background-color: #D10024;
color: #fff;
border: none;
padding: 12px 25px;
border-radius: 5px;
font-weight: bold;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.2s ease;
font-size: 16px;
margin-top: 10px;
}

.register-button:hover {
background-color: #b8001e;
transform: translateY(-2px);
}